---
layout: default
title: "Home"
route: index
---

<!-- article list with pagination -->
<h1 id="news">News</h1>
<ul class="content-list">
    {% for post in paginator.posts %}
    <li class="NewsSummary">
        <div class="NewsSummaryLink">
            <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
        </div>
        <div class="NewsSummaryContent">
            {{ post.content | truncatehtml | truncatewords: 60 }}
        </div>
        <div class="NewsSummaryPostdate">
            {{ post.date | date: "%Y-%m-%d" }}
        </div>
    </li>
    {% endfor %}
</ul>
<p>
    {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
        <a href="/">&lt;</a>
        {% else %}
        <a href="/{{ paginator.previous_page }}">&lt;</a>
        {% endif %}
    {% endif %}

    {{ paginator.page }}
    
    {% if paginator.next_page %}
    <a href="/{{ paginator.next_page  }}">&gt;</a>
    {% endif %}
</p>
