<!-- article list with pagination -->
<h1 id="news">News</h1>
<ul class="content-list">
    <li class="NewsSummary">
        <div class="NewsSummaryLink">
            <strong>Dragon Quest V &amp; IV</strong>
        </div>
        <div class="NewsSummaryContent">
            <div class="summary-img">
                <img src="/images/dq5.gif" alt="pic">
            </div>
            Hello. Today we have for you (Two are exactly), though, they are not quite “ours”, but not so
            much
            ours, to be considered not ours at all :) The first one is Dragon Quest V, the translation of
            which
            was completed just now , and the second - Dragon Quest IV, whose translation has long wandered
            through the expanses of the Internet. Both games were
            <a href="https://vk.com/club127864809" onclick="target='_blank';">translated by Comrade
                Verdeck</a>with
            the technical support of our member MetLob. Well, you can download patches by clicking on the
            links
            below:
            <br>
            <br>
            <a href="hello-from-pb.html">Dragon Quest V Translation Page</a> /
            <a href="hello-from-pb.html">Dragon Quest IV Translation Page</a>
        </div>
        <div class="NewsSummaryPostdate">
            11.09.2017
        </div>
    </li>
    <li class="NewsSummary">
        <div class="NewsSummaryLink">
            <strong>Dragon Quest V &amp; IV</strong>
        </div>
        <div class="NewsSummaryContent">
            <div class="summary-img">
                <img src="/images/dq5.gif" alt="pic">
            </div>
            Hello. Today we have for you (Two are exactly), though, they are not quite “ours”, but not so
            much
            ours, to be considered not ours at all :) The first one is Dragon Quest V, the translation of
            which
            was completed just now , and the second - Dragon Quest IV, whose translation has long wandered
            through the expanses of the Internet. Both games were
            <a href="https://vk.com/club127864809" onclick="target='_blank';">translated by Comrade
                Verdeck</a>with
            the technical support of our member MetLob. Well, you can download patches by clicking on the
            links
            below:
            <br>
            <br>
            <a href="hello-from-pb.html">Dragon Quest V Translation Page</a> /
            <a href="hello-from-pb.html">Dragon Quest IV Translation Page</a>
        </div>
        <div class="NewsSummaryPostdate">
            11.09.2017
        </div>
    </li>
    <li class="NewsSummary">
        <div class="NewsSummaryLink">
            <strong>Dragon Quest V &amp; IV</strong>
        </div>
        <div class="NewsSummaryContent">
            <div class="summary-img">
                <img src="/images/dq5.gif" alt="pic">
            </div>
            Hello. Today we have for you (Two are exactly), though, they are not quite “ours”, but not so
            much
            ours, to be considered not ours at all :) The first one is Dragon Quest V, the translation of
            which
            was completed just now , and the second - Dragon Quest IV, whose translation has long wandered
            through the expanses of the Internet. Both games were
            <a href="https://vk.com/club127864809" onclick="target='_blank';">translated by Comrade
                Verdeck</a>with
            the technical support of our member MetLob. Well, you can download patches by clicking on the
            links
            below:
            <br>
            <br>
            <a href="hello-from-pb.html">Dragon Quest V Translation Page</a> /
            <a href="hello-from-pb.html">Dragon Quest IV Translation Page</a>
        </div>
        <div class="NewsSummaryPostdate">
            11.09.2017
        </div>
    </li>
    <li class="NewsSummary">
        <div class="NewsSummaryLink">
            <strong>Dragon Quest V &amp; IV</strong>
        </div>
        <div class="NewsSummaryContent">
            <div class="summary-img">
                <img src="/images/dq5.gif" alt="pic">
            </div>
            Hello. Today we have for you (Two are exactly), though, they are not quite “ours”, but not so
            much
            ours, to be considered not ours at all :) The first one is Dragon Quest V, the translation of
            which
            was completed just now , and the second - Dragon Quest IV, whose translation has long wandered
            through the expanses of the Internet. Both games were
            <a href="https://vk.com/club127864809" onclick="target='_blank';">translated by Comrade
                Verdeck</a>with
            the technical support of our member MetLob. Well, you can download patches by clicking on the
            links
            below:
            <br>
            <br>
            <a href="hello-from-pb.html">Dragon Quest V Translation Page</a> /
            <a href="hello-from-pb.html">Dragon Quest IV Translation Page</a>
        </div>
        <div class="NewsSummaryPostdate">
            11.09.2017
        </div>
    </li>
    <li class="NewsSummary">
        <div class="NewsSummaryLink">
            <strong>Dragon Quest V &amp; IV</strong>
        </div>
        <div class="NewsSummaryContent">
            <div class="summary-img">
                <img src="/images/dq5.gif" alt="pic">
            </div>
            Hello. Today we have for you (Two are exactly), though, they are not quite “ours”, but not so
            much
            ours, to be considered not ours at all :) The first one is Dragon Quest V, the translation of
            which
            was completed just now , and the second - Dragon Quest IV, whose translation has long wandered
            through the expanses of the Internet. Both games were
            <a href="https://vk.com/club127864809" onclick="target='_blank';">translated by Comrade
                Verdeck</a>with
            the technical support of our member MetLob. Well, you can download patches by clicking on the
            links
            below:
            <br>
            <br>
            <a href="hello-from-pb.html">Dragon Quest V Translation Page</a> /
            <a href="hello-from-pb.html">Dragon Quest IV Translation Page</a>
        </div>
        <div class="NewsSummaryPostdate">
            11.09.2017
        </div>
    </li>
</ul>