.content {
  width: 75%;
  padding: 2px 10px 10px 10px;
  box-sizing: border-box;
  
  h1 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 8px 2px 4px 2px;
    color: #000;
  }
  .summary-img {
    text-align: center;
  }
  .NewsSummaryPostdate {
    text-align: right;
  }
  ul.content-list {
    margin: 0;
    padding: 0;
    li {
      padding: 3px;
      margin-top: 3px;
      margin-bottom: 5px;
      border-top: 1px solid #f2f2f2;
    }
  }
}