.header {
  background-image: url(/images/logo_rf3.jpg);
  border-top: 1px solid #e6e5e5;
  border-bottom: 1px solid #e6e5e5;
  margin: 0 0 8px 0;
  height: 146px;
  padding: 6px 0 0 12px;
  h1 {
    text-align: left;
    font-family: Trebuchet MS, Arial;
    font-size: 24px;
    font-weight: normal;
    color: #000;
  }
  h2 {
    font-size: 11px;
    font-weight: normal;
    color: #000;
  }
}