.sidebar {
  width: 25%;
  padding: 8px 10px 10px 0;
  box-sizing: border-box;
    
  h1 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000;
    margin: 10px 5px 15px 10px;
  }

  ul.submenu {
    margin: 0;
    padding: 0;
    a {
      box-sizing: content-box;
      display: block;
      height: 13px;
      padding: 7px 7px 7px 17px;
      margin: 1px 0 0 0;
      background: #fff url(/images/submenua_normal.jpg) repeat-y left;
      &:hover, &:focus, &:active {
        background: #fff url(/images/submenua.jpg) no-repeat bottom;
        padding: 7px 7px 7px 15px;
      }
    }
  }

  li {
    list-style-type: none;
  }
}

